@import '../palette';

@media screen and (min-width: 768px) {
  .m-Gnb {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .m-Gnb {
    display: block;
    position: fixed;
    width: 100%;
    border-bottom: 1px solid rgba(112, 112, 112, 0.2);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: 56px;
    z-index: 10000;
    background-color: $nav;
    section {
      display: flex;
      padding: 0;
      margin: 0;
      h1 {
        margin: 0;
        font-size: 24px;
        margin-left: 40px;
        padding: 5px;
      }
      li {
        padding: 10px;
      }
      a {
        color: black;
      }
      button {
        width: 30px;
        height: 30px;
        margin-top: 4px;
        margin-left: auto;
        margin-right: 20px;
        background-color: $button-color;
        border: none;
        color: $color-white;
      }
    }
  }

  .MGnb_inner {
    padding: 10px;
  }

  .show-menu {
    width: 100%;
    position: absolute;
    background-color: $color-white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 5px;
    top: 72%;
    right: 0px;
    transition: 0.5s;
    z-index: 101;
    // overflow: visible;
    li {
      display: block;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      margin-bottom: 0;
    }
  }

  .hide-menu {
    width: 20%;
    top: 10%;
    position: absolute;
    right: -376px;
    transition: 1s;
    z-index: 101;
    li {
      display: block;
    }
  }
}
