.JoinPage {
  top: 60px;
  width: 100%;
  height: 780px;
  background-color: $color-white;
}

.Join_Container {
  position: absolute;
  background-color: $color-white;
  top: 35%;
  left: 46%;
  text-align: center;
  margin-left: -266px;
  margin-top: -190px;
  width: 532px;
  h2 {
    font-size: 24px;
    font-weight: bold;
  }
  input {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}

.join_div {
  margin: 0 auto;
  width: 300px;
}

h3::before {
  content: '*';
  color: $color-red;
}

.Join_Container_btn {
  background-color: $button-color2;
  border: none;
  height: 40px;
  color: $color-white;
}

.join_section {
  .joinInput {
    position: relative;
    overflow: hidden;
    margin: 0 0 10px 0;
    @include input;
  }
  div {
    h3 {
      padding-top: 10px;
      font-size: $font-size1;
      color: $font-color1;
    }
  }
  span {
    text-align: left;
    display: inherit;
    margin-bottom: 20px;
  }
}
.h3_left {
  text-align: left;
  margin-bottom: 8px;
}
.h3_rig {
  text-align: right;
}

.nameBox {
  input {
    padding: 0;
    margin: 20px 20px 20px 0;
    @include input;
  }
}

.phoneBox {
  .telInputBox {
    input {
      display: inline-block;
      width: 64%;
      padding: 0;
      margin: 20px 20px 20px 0;
      height: 40px;
      background-color: $color-white;
      border: 1px solid #e0dfe2;
      opacity: 0.3;
    }
  }
  button {
    display: inline-block;
    left: 0;
  }
}

.termCheckBox {
  padding-top: 30px;
  label {
    display: inline-block;
    width: 100%;
  }
  input {
    display: inline-block;
    margin: 13px;
  }
}

.btn {
  width: 100%;
  height: 40px;
  border: none;
  margin-top: 20px;
}

.term_btn {
  background-color: $color-white;
  color: $color-black;
  display: flex;
  align-items: center;
  border: none;
}

@media screen and (max-width: 768px) {
  .JoinPage {
    height: 150vh;
  }
  .Join_Container {
    width: 100%;
    left: 0;
    margin-left: 0px;
  }
}

#join {
  margin: 0 auto;
  .join-container {
    position: relative;
    max-width: 368px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    .join-title {
      font-size: 24px;
      text-align: center;
      margin-bottom: 17px;
    }
    p.join-text {
      display: flex;
      color: #555;
      .required {
        color: $required;
      }
      &.left {
        justify-content: flex-start;
      }
      &.right {
        justify-content: flex-end;
      }
    }
    .join-certifycation {
      > span {
        display: inline-block;
        margin-top: 30px;
        b {
          color: $required;
        }
      }
      &:not(:last-of-type) {
        // margin-bottom: 65px;
        .input_text_wrap {
          &:last-of-type {
            margin-top: 12px;
          }
        }
      }
      &:not(:first-of-type) {
        .input_text_wrap {
          &:last-of-type {
            margin-top: 30px;
          }
        }
      }
    }
  }
  /*========================================================================
   휴대폰 인증
========================================================================*/

  button {
    transition: 0.21s;
    box-sizing: border-box;
    height: 44px;
    &.inactive {
      color: #b4b6c2;
      background: #f0f0f1;
    }
    &.second {
      color: #fff;
      background: #4b4c4f;
    }
    &.confirm {
      background: #fff;
      color: #4b4c4f;
      border: 1px solid #4b4c4f;
    }
  }
}

/*========================================================================
   JOIN - CHECKBOX
========================================================================*/

.join-checkbox {
  flex: 1;
  padding-top: 40px;
  .terms_agree {
    display: flex;
    flex-direction: column;
    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 12.5px;
      label {
        color: #808080;
        span.required {
          color: $required;
        }
      }
      &:last-child {
        margin-left: 5px;
      }

      &.all_agree {
        max-height: 46px;
        height: 100%;
        border: 1px solid #e2e3e8;
        box-sizing: border-box;
        transition: 0.21s;
        &.on {
          border: 1px solid $prime;
        }
        p {
          color: #303032;
        }
      }
    }
  }
  .certify_wrap {
    margin-top: 40px;
    h2 {
      margin-bottom: 12px;
      color: #4b4c4f;
    }
    p {
      color: #b9b9b9;
      margin-bottom: 50px;
      font-size: 14px;
    }
    .input_item {
      > span {
        display: inline-block;
        margin-top: 30px;
        b {
          color: $required;
        }
      }
      &:not(:last-of-type) {
        // margin-bottom: 65px;
        .input_text_wrap {
          &:last-of-type {
            margin-top: 12px;
          }
        }
      }
      &:not(:first-of-type) {
        .input_text_wrap {
          &:last-of-type {
            margin-top: 30px;
          }
        }
      }
    }
  }

  .complete_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      width: 131px;
      height: 82px;
      margin-top: 80px;
    }
    span {
      margin-top: 30px;
      margin-bottom: 12px;
    }
  }
}

div.join-btn {
  .btn-join {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 44px;
    cursor: pointer;
    &.prime {
      background-color: $login-prime;
      color: #fff;
      border: 0px;
      span {
        color: #fff;
      }
    }
    &.disabled {
      background-color: $login-disabled;
      color: #202020;
      border: 0px;
      span {
        color: #202020;
      }
    }
    &.siginup {
      border: solid 1px #202020;
      background-color: $signup;
      color: #202020;
    }
  }
}
