.noticePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 1000px;
  height: 900px;
}

.noticeContainer {
  display: flex;
  flex-direction: column;
  width: 532px;
  margin: 0 auto;
  max-height: 600px;
  overflow-y: scroll;

  a {
    text-decoration: none;
    text-align: left;
  }
}
button {
  display: block;
  margin: 0 auto;
  background-color: $color-white;
  color: #979fa7;
  border: none;
  opacity: 0.5;
  cursor: pointer;
}

.noticePage_h2 {
  font-size: 24px;
  text-align: center;
}

.notice_ul {
  padding-left: 0;
  font-size: $font-size3;
  display: flex;
  flex-direction: column;
  li {
    color: $font-color4;
    font-size: $font-size2;
    width: 100%;
    height: 56px;
    border-bottom: 1px solid $color-gray1;
    padding: 20px;
    text-overflow: ellipsis;
  }
  li:not(:last-child) {
    border-bottom: none;
  }
}
