.item_inner {
	// border: 1px solid black;
	.item_ul {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		padding: 0;
		text-align: center;
		h3 {
			font-size: 9px;
			margin: 5px;
		}
		h3::before {
			content: '';
		}
		span {
			display: block;
			margin: 5px;
		}
		.item_li {
			width: 140px;
			height: 140px;
			// border: 1px solid $color-black;
			background-color: $color-gray2;
			border-bottom: 1px solid rgba(112, 112, 112, 0.2);
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
			border-radius: 15px;
			margin: 20px;
		}
	}
}

.item_listBox {
	margin: 20px;
}

.item_name {
	font-size: 11px;
}

.item_price {
	font-size: 8px;
}
