.itemSlideContainer {   
    width: 1080px;
    height: 15vh;
    margin: 0;
    padding: 0;
    li{
        border: none;
        padding: 56px;
    }
}


.itemSlideBox {
   width: 100px;
   height: 100px;
   background-color: $sub;
   border-radius: 15px;
   border: none;
}


.itemContainer{
    width: 100%;
    height: 15vh;
    margin: 0;
    overflow: hidden;
}
.itemListBox {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    align-items: center;
    position: relative;
    top: 17px;
    // margin-bottom: 15px;

   
}

.itemSlider_btnBox{
    position: relative;
    display: flex;
    top: -152px;
}

.itemSlider_btn {
    all: unset;
      border: 1px solid $color-white;
      padding: 0.5em 2em;
      color: $color-black;
      border-radius: 10px;
     
      &:hover {
        transition: all 0.3s ease-in-out;
        background-color: $color-black;
        color: #fff;
      }
    }
    
    .r {
        margin-left: auto;
    }
    
    