.JoinPage {
	width: 100%;
	height: 1000px;
	background-color: $color-white;
}

.Join_Container {
	position: absolute;
	background-color: $color-white;
	top: 35%;
	left: 46%;
	text-align: center;
	margin-left: -266px;
	margin-top: -190px;
	width: 532px;
	h2 {
		font-size: 35px;
		font-weight: bold;
	}
	input {
		display: block;
		margin: 0 auto;
		margin-bottom: 20px;
	}
}

h3::before {
	content: '*';
	color: $color-red;
}

.Join_Container_btn {
	background-color: $button-color2;
	border: none;
	height: 40px;
	color: $color-white;
}

.join_section {
	.joinInput {
		position: relative;
		overflow: hidden;
		margin: 0 0 10px 0;
		@include input;
	}
	div {
		margin: 0 auto;
		width: 300px;
		h3 {
			padding-top: 10px;
			font-size: $font-size1;
			color: $font-color1;
		}
	}
	span {
		text-align: left;
		display: inherit;
		margin-bottom: 20px;
	}
}
.h3_left {
	text-align: left;
}
.h3_rig {
	text-align: right;
}

.nameBox {
	input {
		padding: 0;
		margin: 20px 20px 20px 0;
		@include input;
	}
}

.phoneBox {
	.telInputBox {
		input {
			display: inline-block;
			width: 64%;
			padding: 0;
			margin: 20px 20px 20px 0;
			height: 40px;
			background-color: $color-white;
			border: 1px solid $color-gray;
			opacity: 0.3;
		}
	}
	button {
		display: inline-block;
		left: 0;
	}
}

.termCheckBox {
	padding-top: 30px;
	label {
		display: inline-block;
		width: 100%;
	}
	input {
		display: inline-block;
		margin: 13px;
	}
}

.btn {
	width: 100%;
	height: 40px;
	border: none;
	margin-top: 20px;
}

.term_btn {
	background-color: $color-white;
	color: $color-black;
	display: flex;
	align-items: center;
	border: none;
}

@media screen and (max-width: 768px) {
	.JoinPage {
		height: 150vh;
	}
	.Join_Container {
		width: 100%;
		left: 0;
		margin-left: 0px;
	}
}
