

@media screen and (min-width: 768px) {
    .m-Gnb{
        display: none;
    }
}
@media screen and (max-width: 768px) {
    body{
        overflow-x: hidden;
    }
    .m-Gnb{
        display: block;
        border-bottom: 1px solid rgba(112,112,112,0.2) ;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        section{
            display: flex;
            padding: 0;
            margin: 0;
            height: 90px;
            h1 {
                margin: 0;
                padding: 27px;
                font-size: 32px;
               
            }
            li {
                padding: 37px;
            }
            a{
             color: black;
            }
            button{
                width: 30px;
                height: 30px;
                margin-top: 30px;
                margin-left: auto;
                margin-right: 20px;
                background-color: tomato;
                border: none;
                color: white;
            }
        }
    }
   
    .show-menu{
        width: 376px;
        position: absolute;
        background-color: #fff;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        border: none;
        border-radius: 5px;
        top: 10%;
        right: 0px;
        transition: 1s;
        z-index: 101;
        li {
            display: block;
        }
    }
        
    .hide-menu{
        width: 376px;
        top: 10%;
        position: absolute;
        right: -376px;
        transition: 1s;
        z-index: 101;
        li {
            display: block;
        }
    }

}