// Global 공통으로 사용하는 컬러는 이곳에 저장하여 palette 처럼 전역으로 사용
$main: #333;
$sub: #666;
$border: #e2e3e8;
$prime: #4e63fd;
$navy: #170f58;
$red: #ff326a;

$gray-100: #b9b9b9;
$gray-200: #9da2b0;
$gray-300: #8b8b9e;
$gray-400: #525255;
$gray-500: #737477;

$black-100: #4b4c4f;
