// Global 공통으로 사용하는 컬러는 이곳에 저장하여 palette 처럼 전역으로 사용
$main: #333;
$sub: #666;
$border: #e2e3e8;
$prime: #4e63fd;
$navy: #170f58;
$gray-100: #b9b9b9;
$gray-200: #9da2b0;
$gray-300: #8b8b9e;
$gray-400: #525255;
$gray-500: #737477;
$black-100: #4b4c4f;

// ----------------------------------------
$color-brwon: #381e1f;
$color-black: #111;
$color-black2: #444;
$color-white: #fff;
$color-white1: #f0f0f0;
$color-gray: #707070;
$color-gray1: #f1f1f1;
$color-gray2: #f8f8f8;
$color-red: #ff326a;

$nav: #fff;

//-------------------------
$button-color: #ff6347;
$button-color2: #31516d;
$button-color3: #0d8eff;
$button-kakao: #f7e335;
$button-naver: #1ec82b;

//------------------------ BUTTON
$login-prime: #31516d;
$login-disabled: #efefef;
$signup: #fff;

// --------------------------------------------

$font-color1: #666;
$font-color2: #808080;
$font-color3: #707070;
$font-color4: #444;
$font-color5: #ababab;

$font-size: 10px;
$font-size1: 13px;
$font-size2: 14px;
$font-size3: 15px;

// -----------------------------------------------

@mixin login_btn {
	width: 100%;
	height: 40px;
}

@mixin input {
	width: 100%;
	height: 40px;
	background-color: $color-white;
	border: 1px solid $color-gray;
	opacity: 0.3;
}
