// 모든 Style 은 init.scss 파일안에서 @import
@import '../styles/common.scss';
@import '../styles/pcHeader.scss';
@import '../styles/pcFooter.scss';
@import '../styles/mainPage';

@import '../styles/join';
@import '../styles/login';
@import '../styles/mobileHeader';
@import '../styles/mobileFooter';
@import '../styles/itemList';
@import '../styles/notice';
@import '../styles/terms';
@import '../styles/modal';
@import '../styles/board';

@import '../styles/carousel';
@import '../styles/itemSlide';

@import '../styles/find';

// SETTING (DROP) -------------------------------------
@import '../styles/layout/setting';

// COMPONENT ------------------------------------------
@import '../styles/components/button/main-button.scss';
@import '../styles/components/button/pulldelete.scss';
@import '../styles/components/input/checkbox.scss';
@import '../styles/components/input/selectbox.scss';

// ---------------------------------------------------
input[type='password']::-ms-clear {
	display: none;
}
* {
	font-family: 'Noto Sans KR', 'Noto Sans KR2';
	font-size: 14px;
	word-break: keep-all;
	color: #170f00;
}
* {
	-webkit-tap-highlight-color: transparent;
}

input::placeholder {
	color: #e0e0e0;
}
input:focus {
	border-color: #202020;
}
input:disabled {
	background: #f5f5f5;
}
input.has_rd {
	border-radius: 4px;
}
