@import '../../module';

.chekcbox_item {
  display: flex;
  align-items: center;
  label {
    display: inline-block;
    border: 1px solid $border;
    width: 24px;
    height: 24px;
    border-radius: 6px;
    background-color: #fff;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 13px 10px;
    transition: 0.21s;
    &.navy {
      width: 20px;
      height: 20px;
    }
  }
  input[type='checkbox']:checked + label {
    background-image: url('../../../public/img/icon/check-white.svg');
    background-size: 13px 10px;
    background-color: $prime;
    border: 1px solid $prime;
  }
  input[type='checkbox']:checked + label.reverse {
    background-image: url('../../../public/img/icon/check-prime.svg');
    background-size: 13px 10px;
    background-color: #fff;
    border: 1px solid $prime;
  }
  input[type='checkbox']:checked + label.navy {
    background-image: url('../../../public/img/icon/check-white.svg');
    background-size: 13px 10px;
    background-color: $navy;
    border: 1px solid $navy;
  }
}
